Códigos FSCDnet/*
blender277windows64/*
Otros archivos/*
ejemplosTFG/*
Feedbacks/*

Procesamiento de modelos/*
!Procesamiento de modelos/notebooks
!Procesamiento de modelos/*.blend
!Procesamiento de modelos/models_3D.csv
!Procesamiento de modelos/*.task

LaTex TFG/*.log
LaTex TFG/*.texpadtmp
LaTex TFG/*.aux
LaTex TFG/*.bbl
LaTex TFG/*.bcf
LaTex TFG/*.blg
LaTex TFG/*.dvi
LaTex TFG/*.lof
LaTex TFG/*.lot
LaTex TFG/*.out
LaTex TFG/*.run.xml
LaTex TFG/*.synctex.gz
LaTex TFG/*.toc
LaTex TFG/*.fdb_latexmk
LaTex TFG/*.fls
*.DS_Store

FSCDnet/SCDnet/mlruns/*
FSCDnet_Keras/*
/resnet
/vgg
Procesamiento de modelos/notebooks/train_loss_resnet
Procesamiento de modelos/notebooks/train_loss_vgg
Procesamiento de modelos/notebooks/val_loss_resnet
Procesamiento de modelos/notebooks/val_loss_vgg
