Códigos FSCDnet/*
blender277windows64/*
Otros archivos/*
ejemplosTFG/*
frameworks/*
LaTex TFG reducido/*
Feedbacks/*
Procesamiento de modelos/datasets/*
Procesamiento de modelos/referencia H3DS-net/*
Procesamiento de modelos/models/*
Procesamiento de modelos/images/*
Procesamiento de modelos/images2/*
Procesamiento de modelos/models_scaled.zip
Procesamiento de modelos/HeadSpace/*
Procesamiento de modelos/matrices_transformacion.csv
Procesamiento de modelos/labels.csv
Procesamiento de modelos/matrices_transformacion HeadSpace.csv
Procesamiento de modelos/modelos_HeadSpace.csv

LaTex TFG/*.log
LaTex TFG/*.texpadtmp
LaTex TFG/*.aux
LaTex TFG/*.bbl
LaTex TFG/*.bcf
LaTex TFG/*.blg
LaTex TFG/*.dvi
LaTex TFG/*.lof
LaTex TFG/*.lot
LaTex TFG/*.out
LaTex TFG/*.run.xml
LaTex TFG/*.synctex.gz
LaTex TFG/*.toc
LaTex TFG/*.fdb_latexmk
LaTex TFG/*.fls
*.DS_Store
Procesamiento de modelos/verificacion_distancias.xcf
Procesamiento de modelos/images_short
Procesamiento de modelos/aug_images
Procesamiento de modelos/results/*
FSCDnet/data/*
FSCDnet/SCDnet/*
!FSCDnet/SCDnet/codigos
!FSCDnet/SCDnet/input
FSCDnet/SCDnet/codigos/img_aug
FSCDnet/SCDnet/codigos/__pycache__
FSCDnet/SCDnet/codigos/mlruns

FSCDnet_Keras/input*

Procesamiento de modelos/subir.sh
FSCDnet/MLOps 2 - Experiment Handling con MLFlow.pdf
FSCDnet/MLOps 3 - Hyperparameter Tuning con Optuna.pdf
FSCDnet/MLOps 3 - Hyperparameter Tuning con Optuna.pdf
FSCDnet/MLOps 2 - Experiment Handling con MLFlow.pdf
Procesamiento de modelos/labels.csv
Procesamiento de modelos/labels.csv
Procesamiento de modelos/labels.csv
Procesamiento de modelos/labels.csv
Procesamiento de modelos/labels.csv
Procesamiento de modelos/FINAL_Synthetic_generator copia.blend
Procesamiento de modelos/FINAL_Synthetic_generator copia.blend1
Procesamiento de modelos/labels.csv
