Códigos FSCDnet/*
blender277windows64/*
Otros archivos/*
ejemplos TFG/*
frameworks/*
LaTex TFG reducido/*
Feedbacks/*
Procesamiento de modelos/datasets/*
Procesamiento de modelos/referencia H3DS-net/*
Procesamiento de modelos/results/*
*.DS_Store
Procesamiento de modelos/matrices_transformacion.csv
Procesamiento de modelos/matrices_transformacion HeadSspae.csv
Procesamiento de modelos/modelos_HeadSpace.csv
